<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Movimento Mensalista</title>
</head>
<body>

<h2>Lista de Movimento Mensalistas</h2>


<ul>
{% for movmensa in movmensa %}
    <li>
    	<a href="{% url 'core_upd_mov_mensa' movmensa.id %}">
            {{ movmensa.mensalista }} - R$ {{ movmensa.total }}
        </a>
    </li>
{% endfor %}
</ul>

<form action="{% url 'core_add_mov_mensa' %}" method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Cadastrar</button>
</form>

</body>
</html>